<% include _head.ejs %>


<section class="section">
    <div class="container">

        <h1 class="title has-text-centered"><a>Sites</a></h1>
        <% pings.map(ping => { %>

            <a href="/site/<%- ping.originBase64 %>">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div>
                                <p class="heading">Origin</p>
                                <p class="title"><%- ping.origin %></p>
                            </div>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <div>
                                <p class="heading">Total Visits</p>
                                <p class="title"><%- ping.count %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        <% }) %>
        <hr/>
        <p>Embed code: <textarea rows="1"
                                 class="textarea" style="resize: unset;"
                                 readonly><scripts src="http://analytics.tsl.ac.uk/client.js"></scripts></textarea>
        </p>

    </div>
</section>
<% include _foot.ejs %>

