<% include _head.ejs %>


<section class="section">
    <div class="container">

        <h1 class="title has-text-centered">Sites</h1>
        <% pings.map(ping => { %>


            <a href="/site/<%- ping.originBase64 %>" class="level">
                <div class="level-item has-text-centered is-even">
                    <div>
                        <p class="heading">Origin</p>
                        <p class="subtitle"><%- ping.origin %></p>
                    </div>
                </div>
                <div class="level-item has-text-centered is-even">
                    <div>
                        <p class="heading">Total Visits</p>
                        <p class="subtitle"><%- ping.count %></p>
                    </div>
                </div>
            </a>

        <% }) %>
        <hr/>
        <p>Embed code: <textarea rows="1"
                                 class="textarea" style="resize: unset;"
                                 readonly><scripts src="http://analytics.tsl.ac.uk/client.js"></scripts></textarea>
        </p>

    </div>
</section>
<% include _foot.ejs %>

