<% include _head.ejs %>


<section class="section">
    <div class="container">
        <h1 class="title has-text-centered"><a><%- site.origin %></a></h1>

        <% site.paths.map(path=>{ %>


            <p class="heading">Path</p>
            <p class="title"><%- path.path %></p>
            <p class="heading">Visits</p>
            <p class="title"><%- path.count %></p>

        <% }) %>
    </div>
</section>
<% include _foot.ejs %>

