<% include _head.ejs %>


<section class="section">
    <div class="container">
        <h1 class="title has-text-centered"><a><%- site.origin %></a></h1>

        <% site.paths.map(path=>{ %>


            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div>
                            <p class="heading">Path</p>
                            <p class="subtitle"><%- path.path %></p>
                        </div>
                    </div>
                </div>
                <div class="level-item">
                    <div>
                        <p class="heading">Visits</p>
                        <p class="subtitle"><%- path.count %></p>
                    </div>
                </div>
            </div>

        <% }) %>
    </div>
</section>
<% include _foot.ejs %>

