<% include _head.ejs %>


<section class="section">
    <div class="container">
        <h1 class="title has-text-centered"><a><%- site.origin %></a></h1>

        <canvas id="myChart" height="100"></canvas>
        <script>
            var siteObject = <%-JSON.stringify(site)%>;
            var ctx = document.getElementById('myChart').getContext('2d');
            console.log(JSON.stringify(siteObject));

            var datesArray = siteObject.week.map(function(day){
               return day.human;
            });

            var valueArray = siteObject.week.map(function(day){
                return day.count;
            });

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: datesArray,
                    datasets: [{
                        label: '# of Votes',
                        data: valueArray,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th><abbr title="Path">Path</abbr></th>
                <th>Visits</th>
            </tr>
            </thead>
            <tbody>
            <% site.paths.map(path=>{ %>

                <tr>
                    <th><%- path.path %></th>
                    <td><%- path.count %></td>
                </tr>

            <% }) %>
            </tbody>
        </table>

    </div>
</section>
<% include _foot.ejs %>

