<% include _head.ejs %>


<section class="section">
    <div class="container">
        <h1 class="title has-text-centered"><a><%- site.origin %></a></h1>

        <canvas id="myChart" height="100"></canvas>
        <form>
            <div class="field">
                <label class="label"># Days to show</label>
                <div class="control">
                    <input id="daysToShow" class="input" type="number" placeholder="7" style="max-width: 120px;">
                    <button class="button is-primary" type="button" onclick="updateDayCount()">Update</button>
                </div>
            </div>
        </form>

        <hr/>

        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th><abbr title="Path">Path</abbr></th>
                <th>Visits</th>
            </tr>
            </thead>
            <tbody>
            <% site.paths.map(path=>{ %>
                <tr>
                    <th><%- path.path %></th>
                    <td><%- path.count %></td>
                </tr>

            <% }) %>
            </tbody>
        </table>

    </div>
</section>


<script>
    var dts = document.getElementById('daysToShow');

    function updateDayCount() {
        insertParam('days', dts.value);
    }

    function insertParam(key, value) {
        key = encodeURI(key);
        value = encodeURI(value);

        var kvp = document.location.search.substr(1).split('&');

        var i = kvp.length;
        var x;
        while (i--) {
            x = kvp[i].split('=');

            if (x[0] == key) {
                x[1] = value;
                kvp[i] = x.join('=');
                break;
            }
        }

        if (i < 0) {
            kvp[kvp.length] = [key, value].join('=');
        }

        //this will reload the page, it's likely better to store this until finished
        document.location.search = kvp.join('&');

        console.log(document.location);
    }


    var siteObject = <%- JSON.stringify(site) %>;
    var ctx = document.getElementById('myChart').getContext('2d');

    var datesArray = siteObject.week.map(function (day) {
        return day.human;
    });

    var valueArray = siteObject.week.map(function (day) {
        return day.count;
    });

    var uniqueVisitorsArray = siteObject.week.map(function (day) {
        return day.uniqueVisitors;
    })

    dts.value = siteObject.week.length;

    // function getRandomColor() {
    //     var letters = '0123456789ABCDEF';
    //     var color = '#';
    //     for (var i = 0; i < 6; i++) {
    //         color += letters[Math.floor(Math.random() * 16)];
    //     }
    //     return color;
    // }

    // function random_rgba() {
    //     var o = Math.round, r = Math.random, s = 255;
    //     return 'rgba(' + o(r() * s) + ',' + o(r() * s) + ',' + o(r() * s) + ',' + '0.5' + ')';
    // }
    // var colors = []
    // var colors2 = []
    // for (var i = 0; i < siteObject.week.length; i++) {
    //     colors.push(random_rgba());
    //     colors2.push(random_rgba())
    // }


    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: datesArray,
            datasets: [{
                label: '# of visits',
                data: valueArray,
                backgroundColor: '#22D0B2',//colors,
                borderColor: '#22D0B2',//colors,
                borderWidth: 1
            }
                , {
                    label: '# unique visitors',
                    data: uniqueVisitorsArray,
                    backgroundColor: '#2B9EEB',//colors2,
                    borderColor: '#2B9EEB',//colors2,
                    borderWidth: 1
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
<% include _foot.ejs %>

